* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
html {
    text-align: center;
    vertical-align: middle;
    background-color: rgb(255, 218, 86);
    overflow: hidden;
}

body {
    background-color: #f1f1f1;
    height: 100vh;
    color: #222;
    /* background-color: yellowgreen; CHANGE */
}

body * {
    /* border: 1px dotted red !important; */
    /* background-color: yellow; CHANGE */
}

main {
    height: 84%;
    width: 100%;
    max-width: 1200px;
    margin:auto;
    padding-top: 6%;
    /* background-color: red; CHANGE */
    /* margin-top: 2%; */
}

img {
    height: 100%;
}
.logo {
    display: inline-block;  
    position: fixed;
    left:0;
    opacity: 0.7;
    height: 3rem;

    &:hover {
        opacity: 1;
    }
}

main > * {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

main > div {
    height: 100%;
    background-color: #f5f5f5;
    box-shadow: 0 0 2px 2px #eee ;
    /* padding: 3% */
    /* background-color: green; CHANGE */
}
main > div> p {
    box-shadow: 0 0 2px 2px #999 ;
    box-shadow: 0 0 2px 2px #ccc ;
    height: 40%;
    width: 100%;
    font-size: 1.5rem;
    align-content: center;
    transition: 1s;
    /* background-color: rgb(0, 117, 128); CHANGE */
    /* padding: 20% 0; */
}


main > div > p:active {
    box-shadow: 0 0 6px 6px #aaa ;
    text-shadow: 4px 5px 4px #999;
    
}

button {
    box-shadow: 0 0 2px 2px #eee ;
    box-shadow: 0 0 2px 2px #ddd ;
    width: 80%;
    height: 14%;
    background-color: #f9f9f9;
    text-align: center;
    vertical-align: middle;
    border: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    transition: 1000ms;
    color: #333;
    /* flex-grow: 1; */
    
}

button.yeni {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 10%;

    margin:1rem auto;
}

div > button:hover {
    box-shadow: 0 0 2px 2px #ff9335 ;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

div.curtain {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}


/* .hide {
    display: none;
} */

